function Main.fatorial 2
push constant 1
pop local 0
push constant 1
pop local 1
push argument 0
push constant 1
add
pop argument 0
label WHILE_EXP0
push local 1
push argument 0
lt
not
if-goto WHILE_END0
push local 0
push local 1
call Math.multiply 2
pop local 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push local 0
return
function Main.maior 0
push argument 0
push argument 1
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 0
return
goto IF_END0
label IF_FALSE0
push argument 1
return
label IF_END0
function Main.main 0
push constant 5
call Main.fatorial 1
call Output.printInt 1
pop temp 0
push constant 0
return
